

.polymorphic-selector-drawer {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 1px;
    flex-direction: row;
}

.polymorphic-selector-drawer__label {
    padding-top: 2px;
    margin-right: 10px;
}

.polymorphic-selector-drawer__popup {
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(42, 42, 42);
    border-left-color: rgb(24, 24, 24);
    border-right-color: rgb(24, 24, 24);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(24, 24, 24);
    flex-grow: 1;
}

.polymorphic-selector-drawer__popup:hover {
    border-left-color: rgb(101, 101, 101);
    border-right-color: rgb(101, 101, 101);
    border-top-color: rgb(101, 101, 101);
    border-bottom-color: rgb(101, 101, 101);
}

.polymorphic-selector-drawer__popup:focus {
    border-left-color: rgb(129, 180, 255);
    border-right-color: rgb(129, 180, 255);
    border-top-color: rgb(129, 180, 255);
    border-bottom-color: rgb(129, 180, 255);
}

.polymorphic-selector-drawer__popup:focus .popup__label {
    color: rgb(129, 180, 255);
}

.polymorphic-selector-drawer__treeview {
    width: 400px;
    max-height: 200px;
}

.polymorphic-selector-drawer__property-field {
}
