

.polymorphic-selector-drawer {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 1px;
    flex-direction: row;
}

.polymorphic-selector-drawer__label {
    padding-top: 2px;
    margin-right: 10px;
}

.polymorphic-selector-drawer__type-popup {
    flex-grow: 1;
}

.polymorphic-selector-drawer__property-field {
}
